{% extends '_base.html' %}
{% load static %}

{% block title %}About{% endblock title %}

{% block content %}
    <div class="about-wrapper">
        <h1 class="text-center">Bookstore project</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Consequatur, vero delectus ratione dignissimos veritatis ipsam
        sequi eveniet rerum autem voluptates sed exercitationem, ab
        corporis? Fugit neque ad accusamus magni soluta.</p>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Consequatur, vero delectus ratione dignissimos veritatis ipsam
        sequi eveniet rerum autem voluptates sed exercitationem, ab
        corporis? Fugit neque ad accusamus magni soluta.</p>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Consequatur, vero delectus ratione dignissimos veritatis ipsam
        sequi eveniet rerum autem voluptates sed exercitationem, ab
        corporis? Fugit neque ad accusamus magni soluta.</p>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Consequatur, vero delectus ratione dignissimos veritatis ipsam
        sequi eveniet rerum autem voluptates sed exercitationem, ab
        corporis? Fugit neque ad accusamus magni soluta.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Voluptate magnam blanditiis natus, est ipsam asperiores quasi vitae excepturi soluta 
        saepe rerum veritatis aliquid alias cumque impedit, iusto delectus unde illum, 
        tempora facilis ducimus minus ut cupiditate? Laudantium, quod aliquam dolores 
        ratione voluptates excepturi eos ipsa nobis nihil minima dignissimos dolor id 
        veniam sint doloremque labore, harum error quasi? Molestias, possimus?</p>
    </div>
{% endblock content %}